.contenedorPrincipal {
    display: flex;
    flex-direction: row;
    padding: 20px;
    padding-left: 50px;
    padding-right: 50px;
}

.detailImagen {
    width: 75%;
    background-color: white;
    border-radius: 10%;
    
}
.contenedorInfo {
    width: 600px;
    background: linear-gradient(to right, rgb(205, 164, 52), white);
    border-radius: 10%;
    text-align: center;
    padding-top: 50px;
}

.detailTitulo {
    font-size: 40px;
}

.detailPais {
    font-size: 20px;
}

.detailPrecio {
    font-size: 30px;
    margin-top: 340px;
}