.productContainer {
    margin-top: 50px;
}
.product {
    border: 2px solid yellow;    
    margin: 20px;
    border-radius: 10%;
}
.tituloProdu {
    color: white;
}
.precioProdu {
    background-color: yellow;
    color: black;
}

/*.cols {
    margin: 20px;
}*/