.productContainer {
    margin-top: 50px;
}
.product {
    border: 2px solid white;
    margin: 20px;
    border-radius: 10%;
}
.imagenProdu{
    width: 100%;
}
.product:hover {
    transform: scale(1.1);
}
.tituloProdu {
    color: white;
}
.paisOrigen {
    color: white;
}
.precioProdu {
    background-color: yellow;
    color: black;
}

.btnAgregar {
    width: 27px;
    height: 30px;
    border: 1px solid;
    border-radius: 10%;
    margin-bottom: 5px;
}
.btnEliminar {
    width: 27px;
    height: 30px;
    border: 1px solid;
    border-radius: 10%;
    margin-bottom: 5px;
}